<div class="container">
  <div class="card">
  	<div class="card-block">
  	  <form action="" method="POST">
	  	  <div class="row">
	  	  	<div class="span5 col-md-2">
	  	  	    <div class="input-group date">
			      <input id="fromday" name="fromday" type="text" value='<%= @fromday.strftime("%d/%m/%Y") %>' class="form-control" data-provide="datepicker"><span class="input-group-addon">
			      <i class="glyphicon glyphicon-th"></i></span>
			    </div>
			</div>
			<div class="span5 col-md-2">
	  	  	    <div class="input-group date">
			      <input id="today" name="today" type="text" value='<%= @today.strftime("%d/%m/%Y") %>' class="form-control" data-provide="datepicker"><span class="input-group-addon">
			      <i class="glyphicon glyphicon-th"></i></span>
			    </div>
			</div>
	<!--  	  	<h3 class="card-title"><%= (Time.now - 1.days).strftime("%d/%m/%Y") %></h3> -->
	  	  </div>
  	  </form>
  	  <br>

  	  <table class="table" style="font-size:11px;">
		<thead class="thead-default">
		    <tr>
		      <th>N</th>
		      <th>სახეობა</th>
		      <th>განაცხადის თარიღი</th>
		      <th>ეტაპი</th>
		      <th>შესრულების თარიღი</th>
		      <th>სემეკის სტატუსი</th>
		    </tr>
		</thead>

		<tbody>
			<% @docs.each do |doc| %>
				<tr>
				  <th scope="row"><%= doc.letter_number %></th>
			      <th scope="row"><%= params[:type] %></th>
			      <td><%= doc.appeal_date %></td>
			      <td><%= doc.stage %></td>
			      <td><%= doc.stage_2_date %></td>
			      <td><%= doc.gnerc_status %></td>
			    </tr>
			<% end %>
		  </tbody>
  	  </table>

  	  <%= will_paginate(@docs, :renderer => WillPaginate::ActionView::LinkRenderer) %>

	</div>
  </div>
</div>

<script>
    $('.input-group.date input').datepicker({
        format: "dd/mm/yyyy"
    });
</script>

<script type="text/javascript">
$(function() {
  var wait_text = 'გთხოვთ დაელოდოთ...';
  $('a[href*=".xlsx"]').click(function(event) {
    var $link = $(this);
    var $span = $($link.children('span')[0]);
    if ($span.html() === wait_text) {
      event.preventDefault();
    } else {
      $span.html(wait_text);
    }
  });
});
</script>