<div class="container">
  <div class="card">
  	<div class="card-block">
  	  <form action="" method="POST">
	  	  <div class="row">
	  	  	<div class="span5 col-md-2">
	  	  	    <div class="input-group date">
			      <input id="day" name="day" type="text" value='<%= @day.strftime("%d/%m/%Y") %>' class="form-control" data-provide="datepicker"><span class="input-group-addon">
			      <i class="glyphicon glyphicon-th"></i></span>
			    </div>
			</div>
			<div class="span5 col-md-5">
			    <input type="submit" value="Update" class="btn btn-primary">
			</div>
	<!--  	  	<h3 class="card-title"><%= (Time.now - 1.days).strftime("%d/%m/%Y") %></h3> -->
	  	  </div>
  	  </form>
  	  <br>
	  <% @totals.each do |service, count| %>
		  <div class="row">
		  	<div class ='col-md-10'>
				<div class="text-xs-left"><%= I18n.t("services.#{service.constantize.name}") %></div>
			</div>
			<div class='col-md-2'>
				<div class="text-xs-right"><%= count %></div>
			</div>
		  </div>
			
		<progress class="progress" value="<%= count %>" max="<%= @max %>" aria-describedby="example-caption-1"></progress>
	   <% end %>
	</div>
  </div>
</div>

<script>
    $('.input-group.date input').datepicker({
        format: "dd/mm/yyyy"
    });
</script>