<%= form_for(@planned_outage) do |f| %>
  <% if @planned_outage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planned_outage.errors.count, "error") %> prohibited this planned_outage from being saved:</h2>

      <ul>
      <% @planned_outage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disabling_area %><br>
    <%= f.text_field :disabling_area %>
  </div>
  <div class="field">
    <%= f.label :break_reason %><br>
    <%= f.number_field :break_reason %>
  </div>
  <div class="field">
    <%= f.label :abonent_amount %><br>
    <%= f.number_field :abonent_amount %>
  </div>
  <div class="field">
    <%= f.label :self_governed_district_name %><br>
    <%= f.text_field :self_governed_district_name %>
  </div>
  <div class="field">
    <%= f.label :self_governed_district_abonents_count %><br>
    <%= f.number_field :self_governed_district_abonents_count %>
  </div>
  <div class="field">
    <%= f.label :jit_infromation_consumer_count %><br>
    <%= f.number_field :jit_infromation_consumer_count %>
  </div>
  <div class="field">
    <%= f.label :compare_date_2 %><br>
    <%= f.datetime_select :compare_date_2 %>
  </div>
  <div class="field">
    <%= f.label :list_of_media %><br>
    <%= f.text_field :list_of_media %>
  </div>
  <div class="field">
    <%= f.label :info_url %><br>
    <%= f.text_field :info_url %>
  </div>
  <div class="field">
    <%= f.label :sms %><br>
    <%= f.text_field :sms %>
  </div>
  <div class="field">
    <%= f.label :record_status %><br>
    <%= f.text_field :record_status %>
  </div>
  <div class="field">
    <%= f.label :log_day %><br>
    <%= f.datetime_select :log_day %>
  </div>
  <div class="field">
    <%= f.label :response_id %><br>
    <%= f.number_field :response_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
